<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            text-align: center;
        }
        
        h1.double {
            border-width: 5px;
            border-style: double;
            Border-color: green
        }
        
        h1.double2 {
            border-width: 10px;
            border-style: double;
            Border-color: green
        }
        
        h1.double3 {
            border-width: 15px;
            border-style: double;
            Border-color: green
        }
    </style>
</head>

<body>
    <h1 class="double">GeeksForGeeks</h1>
    <h1 class="double2">GeeksForGeeks</h1>
    <h1 class="double3">GeeksForGeeks</h1>
</body>
</html>
